body {
    margin: 0 auto;
    font-family: 'Myriad Pro', sans-serif;
}
.header{
    margin: 50px auto;
    width: 1280px;
    height: 189px;
    /*background-color: #EEE;*/
}
.logo-container{
    /*margin-bottom: 45px;*/
}
.logo-begin{
    font-family: 'Myriad Pro', sans-serif;
    margin: 0;
    font-size: 80pt;
    color: #000000;
    text-decoration: none;
}


.logo-end{
    color: #4bcaff;
}
.menu{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header-menu .menu{
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.item{
    display: flex;
    justify-content: center;
    width: 100%;
}
.header-menu .item{
    background: #35444F;
    height: 70px;
    flex-grow: 1;
}
.menu-link{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24pt;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.header-menu .menu-link:hover {
    background: #222F3A;
}

.main-page{
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.side-menu{
    border: 1px solid #35444F;
    height: 400px;
    width: 345px;
    /*background-color: #ff9e97;*/
}
.side-menu .menu{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.side-menu .item{
    height: 80px;
}

.side-menu .menu-link{
    justify-content: left;
    color: #485863;
    text-indent: 45px;
    font-size: 30pt;
}
.side-menu .menu-link:hover{
    text-indent: 70px;
    color: #000000;
    background-color: #dbdbdb;
}
.content{
    width:885px;
}
.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    width: 100%;
    border: 1px solid #35444F;
    margin: 0 0 35px 0;
}
.article{
    margin: 15px 40px 15px 30px;
    text-align: justify;
    font-size: 18px;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    background-color: #B4B7BA;
    margin: 30px auto;
}
.footer .menu{
    justify-content: space-around;
    align-items: center;
    width: 850px;
    margin: 0 45px;
}
.footer .item{
    height: 70px;
    width: auto;
}

.footer .menu-link{
    color: #0C1927;
    font-size: 28pt;
}
.footer .menu-link:hover{
    text-decoration: underline;
    color: #3181A6;
}
.copyright{
    /*font-family: 'Myriad Pro', sans-serif;*/
    margin: 0 35px;
    font-size: 24pt;
    align-self: center;
}
