@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 100%;
    height: 740px;
    background-image: url('../images/header-bg.jpg');

}

.container{
    max-width: 1124px;
    margin: 0 auto;
}

.header-top{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 95px;
}

.header-btn{
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
}

.menu-logo{
    top: -2px;
    left: -2px;
    position: absolute;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header-title{
    max-width: 734px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.header-subtitle{
    margin: 23px 0 133px 0;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.numbers-wrapper{
    background-color: #F7F7F7;
    width: 1110px;
    height: 300px;
    margin: 0 auto;
}

.numbers-content{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.numbers-item{
    text-align: center;
    margin-top: 60px;
}

.number{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}

.numbers-title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.numbers-subtitle{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}

.numbers-item + .numbers-item{
    margin-left: 100px;   
}

.about-wrapper{
    margin-top: 91px;
}

.about-title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 71px;
}

.about-content{
    display: flex;
}
.about-item + .about-item{
    margin-left: 30px;
}

.about-item{
    max-width: 350px;
}

.about-item span{
    background: #F7654A;
    width: 55px;
    min-height: 6px;
}

.about-img{
    max-width: 350px;
    height: 380px;
}

.about-item-title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
    margin: 15px 0 20px;
}

.about-item-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.footer-wrapper{
    max-width: 100%;
    height: 181px;
    background: #F7654A;
    margin-top: 50px;
}

.footer-content{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title{
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 74px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-subtitle{
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-email{
    display: flex;
    background: #FFFFFF;
    width: 175px;
    height: 49px;
    align-items: center;
    justify-content: center;
}

.footer-email-text{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 15px;
}