body{
    width: 800px;
    margin: 0 auto;
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 18px;
}
h1{
    text-align: center;
    border-bottom: 1px solid #000;

}
hr{
    border-color: #000;
}

#block5{
    background-color: #dddddd;
    padding: 10px;
    /*margin-bottom: 5px;*/
}
.red{
    background-color: #ff9e97;
    color: #cc0009;
    padding: 1px;
}

div.code{
    background-color: #a3cc92;
    padding: 10px;
}