main{
  display: flex;
  flex-wrap: wrap;
}
.card{
  margin: 10px; 
  background-color: #1976D2;
}
.list-group-item {
  background-color: #90CAF9 !important;
}
.accordion-body > #nav a,
.accordion-body > #footer a {
  color: #ffffff;
  padding: .5rem;
  margin: .5rem;
  background-color: #42A5F5;
  border: 2px  solid #2979FF;
  text-decoration: none;
  align-items: center;
}
body {
    /* width: 800px; */
    margin: 0 auto;
    background-color: #DDD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1,h2{
    text-align: center;
    border-bottom: 1px solid #333333;
}
.blocks-standart{
    background-color: #ffffff;
    padding: 10px;
}

div.code{
    background-color: #a3cc92;
    margin-top: 10px;
    padding: 10px;
}
span.oblique{
    border-bottom: 1px solid #000000;
    background-color: #1c7430;
    color: #ffffff;
    font-style: italic;
}
sub{
    float: right ;
    color: #333;
}
div.app{
    background-color: #ff9e97;
    padding: 10px;
}
/* start wars card */



/* Loader */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #424242;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay.active {
  display: flex;
  cursor: wait;
}
.loading {
  font-size: 5rem;
  color: #448AFF;
  text-transform: uppercase;
  animation-name: pulse;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
footer{
  text-align: center;
}

/* #spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   */