body {
    width: 800px;
    margin: 0 auto;
    background-color: #DDD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1,h2{
    text-align: center;
    border-bottom: 1px solid #333333;
}
.blocks-standart{
    background-color: #ffffff;
    padding: 10px;
}

div.code{
    background-color: #a3cc92;
    margin-top: 10px;
    padding: 10px;
}
span.oblique{
    border-bottom: 1px solid #000000;
    background-color: #1c7430;
    color: #ffffff;
    font-style: italic;
}
sub{
    float: right ;
    color: #333;
}
div.app{
    background-color: #ff9e97;
    padding: 10px;
}
p.worker{
    background-color: #1c7430;
    padding: 10px;
    color: #ffffff;
}

/* stopwatch css */  
.black{
         /* background: #000; */

     }
     .silver{
         background: rgba(88, 88, 88, .5);
     }
     .red{
         background: rgba(231, 40, 40, 0.5);
     }
     .green{
         background: rgba(39, 211, 76, 0.5);
     }
     .container-stopwatch{
         margin: 0 auto;
         width: fit-content;
         padding: 1rem;
         text-align: center;
         border-radius: .5rem;
         box-shadow: 0 0 10px black;
         /* background-color: #333; */
     }
     .stopwatch-display{
         background: rgba(22, 97, 12, 0.5);
         padding: 1.5rem;
         font-weight: bold;
         box-sizing: border-box;
         font-size: 2rem;
         margin-bottom: 1rem;
     }
     .stopwatch-display span{
         font-size: 2rem;
     }
     .stopwatch-control button{
         text-transform: uppercase;
         color: white;
         background: #20272F;
         border: none;
         cursor:	grab;
     }
     .stopwatch-control button:nth-child(2){
         margin: 0 .5rem;
     }

     .img-wrap img{
         width: 800px;
     }

.reg-container {
	display: flex;
	background-color: #a3cc92;
	justify-content: center;
	align-items: center;
	padding: 2rem;
    border: 1px solid #1c7430;
}
.reg-container .reg-input {
	margin: 0 1rem;
}
.reg-container .reg-input-passed {
	background-color: #1c7430;
}

.red-js{
    background-color: #f00;
    
}
.error{
    background-color: #e7848c;
    color: #f00;
    font-weight: bold;
    border: 1px solid #f00;
    padding: 5px;
}
.passed{
    background-color: #91cc84;
    font-weight: bold;
    color: #008000;
    padding: 5px;
    border: 1px solid #008000;
}