body {
    width: 800px;
    margin: 0 auto;
    /* background-color: #DDD; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1,h2{
    text-align: center;
    border-bottom: 1px solid #333333;
}
.blocks-standart{
    background-color: #ffffff;
    padding: 10px;
}

div.code{
    background-color: #a3cc92;
    margin-top: 10px;
    padding: 10px;
}
span.oblique{
    border-bottom: 1px solid #000000;
    background-color: #1c7430;
    color: #ffffff;
    font-style: italic;
}
sub{
    float: right ;
    color: #333;
}
div.app{
    background-color: #ff9e97;
    padding: 10px;
}
p.worker{
    background-color: #1c7430;
    padding: 10px;
    color: #ffffff;
}


body {
    background-color: tan;
  }
  
  .box {
    background-color: #3d4543;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: 33%;
  }
  
  .display {
    background-color: #222;
    width: 225px;
    position: relative;
    left: 15px;
    top: 20px;
    height: 40px;
  }
  
  .display input {
    width: 220px;
    position: relative;
    left: 2px;
    top: 2px;
    height: 35px;
    color: black;
    background-color: #bccd95;
    font-size: 21px;
    text-align: right;
  }
  
  .keys {
    position: relative;
    top: 15px;
  }
  
  .button {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-left: 17px;
    cursor: pointer;
    border-top: 2px solid transparent;
    outline: none;
  }
  
  .button.gray {
    color: white;
    background-color: #6f6f6f;
    border-bottom: black 2px solid;
    border-top: 2px #6f6f6f solid;
  }
  
  .button.pink {
    color: black;
    background-color: #ff4561;
    border-bottom: black 2px solid;
  }
  
  .button.black {
    color: white;
    background-color: #303030;
    border-bottom: black 2px solid;
    border-top: 2px #303030 solid;
  }
  
  .button.orange {
    color: black;
    background-color: #FF9933;
    border-bottom: black 2px solid;
    border-top: 2px #FF9933 solid;
  }
  
  .gray:active {
    border-top: black 2px solid;
    border-bottom: 2px #6f6f6f solid;
  }
  
  .pink:active {
    border-top: black 2px solid;
    border-bottom: #ff4561 2px solid;
  }
  
  .black:active {
    border-top: black 2px solid;
    border-bottom: #303030 2px solid;
  }
  
  .orange:active {
    border-top: black 2px solid;
    border-bottom: #FF9933 2px solid;
  }
  
  p {
    line-height: 10px;
  }

  .green{
    background-color: #1c7430;
  }