
input[type='radio']:checked:after {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -2px;
    left: -2px;
    background-color: #946FD3;
    padding: 1px;
    box-shadow: inset 0 0 0 0.1rem #fff;
}

input[type='radio']:after {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    position: relative;
    top: -2px;
    left: -2px;
    background-color: #F0F2F5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #946FD3;
}



main {
    width: 1000px;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #354657;
    /*background-color: #eee;*/
    /*zoom: 67%;*/
}


.wrapper {
    margin: 0 auto;
    /*background-color: #ff9e97;*/
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
}

.header {
    margin-bottom: 1.8rem;
}

.header_title {
    border-bottom: 1px solid #e2e2e2;
    padding: 1.1rem 0;
}

.left_section {
    display: inline-block;
    vertical-align: top;
    /*background-color: #ff9e97;*/
}

.data_and_delivery input {
    width: 93%;
    margin-bottom: 1.25rem;
    line-height: 2.3rem;
    border: 1px solid #b6b6b6;
    margin-top: 0.6rem;
    padding-left: 1.25rem;
}

.data_and_delivery input::placeholder {
    color: #ada8a8;
    font-size: 0.875rem;
    font-weight: 200;
}

.radio_form_choice_1 {
    display: inline-block;
    margin-right: 1rem;
}

.radio_form_choice_2 {
    display: inline-block;
    margin-right: 1rem;
}

.radio_form_choice_3 {
    display: inline-block;
}

.login_register,
.data_and_delivery,
.delivery_method,
.payment_method,
.pay {
    padding: 1.8rem 1.25rem 1.25rem;
    background-color: #f0f2f5;
}

.data_and_delivery {
    margin-top: 1.8rem;
}

.personal_data_title {
    padding-bottom: 1.8rem;
}

.delivery_title {
    padding: 1.8rem 0;
}

.right_section {
    float: right;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.3rem;
    /*background-color: #aaccaa;*/
}

/*table,th,td{border: 1px solid #000;}*/

.payment_method {
    margin-top: 1.8rem;
}

.basket {
    margin-top: 1.8rem;
}

.basket_table {
    width: 100%;
    border-collapse: collapse;
}

.basket_table td,
th {
    vertical-align: middle;
    line-height: 2.875rem;
}

.basket_table th {
    background: #f0f2f5;
    text-transform: uppercase;
}

.basket_table td:first-child {
    width: 8%;
    text-align: center;
}

.basket_table td:nth-child(2) {
    width: 30%;
    text-align: center;
}

.basket_table td:nth-child(3) {
    width: 20%;
    text-align: center;
}

.basket_table td:nth-child(4) {
    width: 25%;
    text-align: center;
}

.basket_table td:last-child {
    width: 17%;
}

.price_product td:nth-child(4),
.price_delivery td:nth-child(4),
.total td:nth-child(4) {
    text-align: right;
    font-weight: 700;
    padding-right: 1.875rem;
    text-transform: uppercase;
}

.quantity {
    padding-right: 20px;
}

.costs {
    padding-right: 50px;
}

.result {
    padding-right: 90px;
}

.delivery_color,
.cash_color {
    background: #FAFAFA;
}

.count_product div:nth-child(1n) {
    display: inline-block;
    text-align: center;
}

.count_product div a {
    display: block;
    line-height: 1.8rem;
    border-radius: 3px;
    text-decoration: none;
    padding: 0.2rem 0.8rem;
}

.number > input {
    max-width: 2rem;
    min-width: 2rem;
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
    border: #e9e9e9 solid 1px;
}

.button_update a {
    background-color: #946fd3;
}

.button_update a > div {
    vertical-align: middle;
}

.button_update img {
    display: block;
}

.button_del a {
    background-color: #f83737;
}

.pay {
    padding-top: 1.25rem;
    margin-top: 1.8rem;
}

.pay_textarea textarea {
    margin-top: 0.6rem;
    padding-left: 0.6rem;
    width: 570px;
    height: 86px;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid #b6b6b6;
    resize: none;
    margin-left: -6px;
}

.pay_textarea textarea::placeholder {
    font-size: 0.8rem;
    color: #ada8a8;
}

.pay_textarea label {
    font-size: 0.8rem;
}

.button_pay {
    text-align: right;
    margin: 1.8rem 0;
}

.button_pay a {
    display: inline-block;
    background-color: #946fd3;
    text-decoration: none;
    color: #ffffff;
    padding: 18px 35px;
    border-radius: 30px;
    font-weight: 700;
}

.button_pay_2 {
    display: inline-block;
    background-color: #946fd3;
    text-decoration: none;
    color: #ffffff;
    padding: 18px 35px;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    font-size: 1rem;
}

.button_pay_2:hover {
    cursor: pointer;
}

.fa, .fas {
    color: #ffffff;
}
