body {
    width: 800px;
    margin: 0 auto;
    background-color: #DDD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1,h2{
    text-align: center;
    border-bottom: 1px solid #333333;
}
.blocks-standart{
    background-color: #ffffff;
    padding: 10px;
}

div.code, .container{
    background-color: #a3cc92;
    margin-top: 10px;
    padding: 10px;
}
span.oblique{
    border-bottom: 1px solid #000000;
    background-color: #1c7430;
    color: #ffffff;
    font-style: italic;
}
sub{
    float: right ;
    color: #333;
}
div.app{
    background-color: #ff9e97;
    padding: 10px;
}
p.worker{
    background-color: #1c7430;
    padding: 10px;
    color: #ffffff;
}
.container .btn{
    padding: 10px;
}
.container .btnCircle{
    border-radius: 50%;
}

/* tabs */
.tabs {
    position: relative;
    min-height: 780px;
    width: 800px;
    margin: 25px 0;
  }
  .tab {
    float: left;
  }
  .tab label {
    background: #ddd; 
    padding: 10px; 
    border: 1px solid #ccc;
    cursor: pointer;
    margin-left: -1px; 
  }
  .tab:first-child label {
    margin-left: 0;
  }
  .tab input[type=radio] {
    display: none;   
  }
  .tab-content {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a3cc92;
    padding: 20px;
    border: 1px solid #ccc;
    display: none;
  }
  input[type=radio]:checked ~ label {
    background: #a3cc92;
    border-bottom: 1px solid white;
  }
  input[type=radio]:checked ~ label ~ .tab-content {
    display: block;
  }