body {
    width: 800px;
    margin: 0 auto;
    background-color: #DDD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1{
    text-align: center;
    border-bottom: 1px solid #333333;
}
img{
    width: 100%;
}

div.code{
    background-color: #a3cc92;
    margin-top: 10px;
    padding: 10px;
}
div.code span.odd{
    background-color: #000000;
    color: #fff;
}

div.code span.final:last-of-type{
    background-color: #00cc17;
    color: #fff;
    font-size: 2rem;
}