tr:nth-child(odd){
    background-color: #BBDEFB;
}
tr:nth-child(even){
    background-color: #80CBC4;
}

table,td,th{
    border: 1px solid #000;
    border-collapse:collapse;
    padding: 5px;
}
td>table td{
    border: none;
    background-color: #D7CCC8;
}