body {
    width: 800px;
    margin: 0 auto;
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #333333;
}

.blocks-standart {
    background-color: #ffffff;
    padding: 10px;
}

div.code {
    background-color: #a3cc92;
    margin-top: 10px;
    padding: 10px;
}

span.oblique {
    border-bottom: 1px solid #000000;
    background-color: #1c7430;
    color: #ffffff;
    font-style: italic;
}

sub {
    float: right;
    color: #333;
}