body {
    width: 750px;
    margin: 0 auto;
}

header {
    background-color: #2d7053;
    width: 750px;
    height: 235px;
    margin: 0 auto;
}

.logo {
    width: 141px;
    height: 141px;
    background-color: #fff;
    margin: 47px 58px 47px 38px;
    display: inline-block;
    border-radius: 50%;
    float: left;
}

.bannerText {
    display: inline-block;
    width: 134px;
    max-height: 131px;
    /*border: 1px solid #000000;*/
    color: #ffffff;
    font-size: 22pt;
    margin-top: 52px;
    margin-bottom: 52px;
    font-family: 'Myriad Pro', sans-serif;
    text-align: left;
}

.menuIcon {
    display: inline-block;
    float: right;
    margin-right: 44px;
    margin-top: 84px;
}

.menuIcon div {
    width: 84px;
    height: 12px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 10px;
}

.office {
    /*position: absolute;*/
}

.button {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24pt;
    background-color: #cb9223;
    color: #ffffff;
    padding: 28px 46px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: -130px;
    left: 213px;
}

.about {
    background-color: #fff;
    /*border: 1px solid #000000;*/
    /*background-color: #9baff1;*/
    height: 100%;
    position: relative;
    top: -100px;

}

.about img {
    float: left;
    border-radius: 50%;
    margin-left: 38px;
    margin-top: 73px;
}

.info {
    float: left;
    /*display: inline-block;*/
    margin-left: 73px;
    margin-top: 73px;
}

.name {
    display: inline-block;
    font-size: 36pt;
    margin-bottom: 0px;
    font-family: 'Myriad Pro', sans-serif;
    /*
    height: 27px;
    width: 210px;
    */

}

.speciality {
    height: 50px;
    width: 245px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24pt;

}

.introduction {
    display: inline-block;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24pt;
    /*margin-top: 60px;*/
    margin-left: 38px;
}

.reason {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 36pt;

}

.list {
    width: 256px;
    height: 190px;
    margin-left: -33px;
    margin-top: 43px;
    list-style-type:"-";
}

.two {
    position: relative;
    top: 20px;
    left: 213px;
}

footer {
    width: 750px;
    height: 153px;
    background-color: #888888;
    position: absolute;
}

.smalllogo {
    width: 96px;
    height: 96px;
    background-color: #fff;
    margin: 29px 58px 28px 38px;
    display: inline-block;
    border-radius: 50%;
    float: left;
}

.tel, .mail {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18pt;
    color: #ffffff;
    text-decoration: none;
}

.adress {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18pt;
    color: #ffffff;
}

.contact {
    float: right;
    margin-right: 44px;
    margin-top: -56px;
}