html {
    font-size: 14px;
    font-family: 'Verdana', Sans-Serif;
    color: #333333;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.head {
    display: grid;
    grid-template-columns: auto 1fr;
}

.head-logo {
    width: 4rem;
    margin-right: 3rem;
}

.head-logo img {
    width: 100%;
}

.head-navigation {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.head-navigation a {
    text-decoration: none;
    color: #fed500;
    display: block;
    line-height: 2rem;
    font-weight: 600;
    transition: all 0.5s;
}

.head-navigation div {
    border-left: 1px solid #fed500;
    background-color: #205aa9;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s;
}

.head-navigation div:hover {
    background-color: #9b1b2c;
}

.head-navigation div:hover a {
    color: #fff;
    border-left: 10px solid #fed500;
}

.head-navigation div:first-of-type {
    border-left: none;
}

.main-section {
    /*background-color: #b3b1b1;*/
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;
    gap: 0 2%;
}

.main-section-image {
    background-image: url("../img/maidan.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: flex-end;
    /*border: 2px solid #205aa9;*/
}

.main-section-image-description {
    background-color: #205aa9;
    display: block;
    width: 100%;
    text-align: left;
    color: #fed500;
    font-weight: 700;
    line-height: 1.9rem;
    padding-left: 1rem;
}

.main-section-text .section-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
}

.section-text {
    text-align: left;
}

.container-for-section-title {
    line-height: 5rem;
    font-weight: 700;
    font-size: 2rem;
}

.container-for-section-all-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 1%;
}

.all-section-section .section-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.section-img img {
    width: 100%;
}

.all-section-section .section-date {
    line-height: 2.5rem;
}

.all-section-section .section-read-more a {
    color: black;
    font-weight: 700;
    line-height: 2.5rem;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .container-for-section-all-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 10px;
    }

    .container-for-section-all-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
