html {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

body, main {
    margin: 0 auto;
}

header, footer {
    display: flex;
    justify-content: center;
    background-color: #F4EFFA !important;
    height: 100px;
}

.m-4 {
    width: 800px;
    background-color: #F4EFFA !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    justify-content: center;
    color: #354657;
}

.navbar {
    background-color: #F4EFFA !important;
    justify-content: center !important;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: .9rem;
    line-height: 1rem;
}

.breadcrumb {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    margin-left: .7rem;
}

.breadcrumb a {
    color: #626262;
}

main {
    width: 800px;
    /*background-color: #ff9e97;*/
    margin-top: 70px;
}

.header {
    margin-bottom: 1.8rem;
}

.header_title {
    width: 800px;
    border-bottom: 1px solid #e2e2e2;
    padding: 1.1rem 0;
    font-size: 1.6rem;
    /*font-weight: 700;*/
    font-style: normal;
    color: #354657;
    align-items: left;
}

.info-block a {
    text-decoration: none;
    color: #946fd3;
    background-color: white;
    border: 1px solid #946fd3;
    border-radius: 50px;
    padding: 10px 0 10px 0;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    font-size: 0.8rem;
}

.text div:nth-child(1) {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #354657;
}

.text div:nth-child(2) {
    color: #354657;
    font-weight: normal;
    font-size: .8rem;

}

.row {
    margin-bottom: 60px;
    margin-right: 0;
}

.row img {
    width: 100%;
}

.row .back {
    display: none;
    width: 274px;

}

.row > * {
    padding-right: 0 !important;
    /*padding-left: 0 !important;*/
}

footer{
    background-color: #fff !important;
    border-top: 1px solid #E2E2E2;
}
footer .navbar{background-color: #fff !important;}
/*==========*/

.flip {
    /*position: relative;*/
    /*height: 300px;*/
    transform-style: preserve-3d;
    transition: transform 1s;
    /*width: 274px;*/
    /*display: block;*/
    /*margin: 0 auto;*/
}

.info-block {
    backface-visibility: hidden;
}

.flip .front {
    backface-visibility: hidden;
    /*background: teal;*/
    /*box-sizing: border-box;*/
    /*color: #fff;*/
    /*font-weight: bold;*/
    /*height: 100%;*/
    /*left: 0;*/
    /*padding-top: 40%;*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*top: 0;*/
    /*width: 100%;*/
}

.flip .back {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    top: 0;
}

.flip:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: url("../img/card.png") no-repeat;
    cursor: pointer;
}

.navbar-nav .circle {
    border-radius: 50%;
    margin: 0.15em;
    font-size: 1.2em;
    background: #354657;
    color: #fff;
}

.fa-facebook {
    padding: 0.05em 0.3em;
}

.fa-youtube, .fa-instagram, .fa-linkedin, .fa-pinterest {
    padding: 0.05em;
}